:root {
    --color-backgroud: #39394b;
    --color: #fff;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--color-backgroud) url("./avatar.svg") no-repeat center center fixed;
    background-size: contain;
}

.avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 80vw;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20vh;
    margin-left: -40vw;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 2;
    padding: 50px;
    box-sizing: border-box;
}

.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    z-index: -3;
    margin: -30px;
    background: url("./avatar.svg") no-repeat center center fixed;
    background-size: contain;
}

.avatar {
    width: 224px;
    height: 224px;
}

.name {
    color: var(--color);
    font-size: 3rem;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .box {
        height: 50vh;
    }
}